@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    margin: 0;
    padding: 0;
    border: 0;
	background: #B5B2B0;
	font-family: Lato, Helvitica, sans-serif;
}
header {
    
    width: 100%;
	background: black;
}
nav {
	position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
	width: 100%;
	background: black;
	height: 50px;

}
ul {
	list-style-type: none;
	overflow: hidden;
	margin: 0 25px 0 0;
	padding: 0;
}
li {
	float: right;
}
li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 16px 20px;
	text-align: center;
}

li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #2D2D2D;

}
h1, h2 {
	text-align: center;
}

#sweetbot {	
	margin: 50px 0 50px 0;
}
.hotbot {
	height: auto;
	width: 100%;
}
section {
    display: block;
    height: 90vh;
   
	margin-right: 0;
}
#home {
    background: #f2f2f2;
}
#contact {
    background: #ffffff;
}
#about {
	background: #f2f2f2;
}
#aboutus {
	height: 50px;
	background: #ffffff;
}

#products {
	background: #ffffff;
	
}
.frontpage {
	margin: auto;
    width: 50%;
    padding: 10px;
}
.logo {
    float: left;
}
.shop {
	border-width: 2px;
	border-style: solid;
	padding: 0.5em 1.75em;
	background-color: transparent;
	cursor: pointer;
	overflow: hidden;
	align-content: center;
	margin: auto;
    width: 100px;
	text-align: center;
}
.shop a {
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	}
.shop:hover, .shop:focus {
	background: #AB9A9A;
	color: black;
	background-color: #DF9B67;
}

/*Contact form*/

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}


input[type=submit] {
    background-color: #DF9B67;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	opacity: 0.7;
	transition: 0.2s;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    opacity: 1;
	
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	
}

/*Footer styles*/

.footer{
	padding: 3rem;
	background-color:#749cd3;
	height: 100%;
	box-sizing: inherit;
	
}
.images{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	height: auto;
	
}
.banner {
	height: auto;
	width: 100%;
	
	
}

@media only screen and (max-width: 600px) {
    section {
        height: 90%;
    }
}